{
    "files.autoSave": "onFocusChange",
    "files.associations": {
        "*.css": "scss"
    },
    "git.autofetch": true,
    "eslint.validate": [
       "javascript",
       "javascriptreact",
       "html",
       { "language": "javascript", "autoFix": true }
     ],
     "eslint.options": {
        "plugins": ["html"]
     },
    "eslint.autoFixOnSave": true,
    "search.followSymlinks": false,
    "git.enableSmartCommit": true,
    "javascript.implicitProjectConfig.experimentalDecorators": true
}