<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>

    <!-- webpack builds are automatically injected -->
  </body>
</html>