.layout-header {
    display: flex;
    height: 6vh;
    background: rgb(250, 250, 250)!important;
}
.trigger {
    font-size: 2.5vh;
    line-height: 6vh;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}
.trigger:hover {
    color: #1890ff;
}
.github {
    font-size: 2.5vh;
    line-height: 6vh;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
    right: 0;
    position: absolute;
}
.github:hover {
    color: #1890ff;
}
